@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #18181b;
  --main-clr: #fff;
  --sec-clr: #07aaf8;
  --font-family: "NotoSans", sans-serif;
}
::selection {
  background: hsl(from var(--sec-clr) h s l / 0.5) !important;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 12px;

  &:hover {
    background-color: #4a4a4a;
  }
}
main {
  margin-bottom: 5rem;
}
@font-face {
  font-family: "NotoSans";
  src: url(./fonts/NotoSans.ttf) format("truetype");
  font-display: swap;
}

body {
  background-color: var(--main-bg);
  color: var(--main-clr);
  font-family: var(--font-family);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: 0;
  color: var(--main-clr);
}
